* {
  margin: 0;
  padding: 0;
}

/*
* { 
  border: 1px solid rgba(0, 0, 0, 0.3);
}
*/

html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: Roboto;
  background-color: #00539F;
}

table {
    font-size 30px;
    text-align: center;
    background-color: #d3d3d3;
    width: 750px;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}

h1 {
  font-size: 28px;
  text-align: center;
  color: black;
  font-weight: 400;
  word-spacing: 0.075ems;
}

h2 {
  font-size: 20px;
  text-align: left;
  color: black;
  font-weight: bold;
  word-spacing: 0.075ems;
  display: inline;
}

p, li {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: black;
  text-align: left;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 70px 20px 20px 20px;
  border: 4px solid black;
}

button {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

.top-icons {
  float: left;
  width: 50px;  
}

.dates {
  float: right;
}

.indent {
  margin-left: 25px;
}

