html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: Roboto;
  background-color: #00539F;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: black;
}

h2 {
  font-size: 20px;
  text-align: left;
  color: black;
}

p, li {
  font-size: 20px;
  line-height: 2;
  letter-spacing: 1px;
  color: black;
  text-align: left;
}

body {
  width: 1000px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 70px 20px 20px 20px;
  border: 4px solid black;
}

button {
  display: block;
  margin: 0 auto;
}

img {
  display: block;
  margin: 0 auto;
}

.top-icons {
  float: left;
  width: 50px;  
}
